.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignoring data folder
data/
# ignoring R project save
*.Rproj

# ignoring word files
*.docx
*.doc

*.html
*.tiff

# ignore ipynb checkpoints
*.ipynb_checkpoints/

# ignore vs code
.vscode/
# ignore temp jupyter notebook
exportedCardTmp_0.ipynb